canvas {
	display: inline-block;
}
textarea#input {
	width: 100%;
	font-size: 1.4em;
	padding: 0.5em;
	resize: none;
}
#chat {
	display: inline-block;
}
#chat-history {
	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 30vh;
	min-height: 30vh;
	max-width: 80vw;
	min-width: 80vh;
}
#chat-history p {
	max-width: 80%;
	min-width: 80%;
	padding: 0.4em;
	color: #fff;
	font-size: 1.4em;
}
#chat-history .chatbot {
	background-color: #d24;
	float: left;
}
#chat-history .client {
	background-color: #42d;
	float: right;
}
